* {
    margin: 0;
    padding: 0;
}

#navWrap {width: 100%; display: flex; justify-content: center; align-items: center;}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    padding: 0px 5vw;
}

nav.main {
    background-color: transparent;
}

nav:not(.main) {
    background-color: white;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 12;
    flex: 0 0 auto;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;

    width: 7vw;
}



.nav-left .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .nav-left .hamburger {
        display: block;
    }
}

.nav-center {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 25px;
    flex: 1;
    justify-content: center;
}

@media (max-width: 768px) {
    .nav-center {
        display: none;
    }
}

.link-button {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s ease;
    box-sizing: border-box;
}

/* 호버 시 작은 영역에만 배경 */
.link-button > span {
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.link-button:hover > span {
    background-color: #f3f4f6;
}






.logout-btn { background: none;
    border: none; cursor: pointer;}


.login-btn { background: none;
    border: none; cursor: pointer;}

.register-btn {background: none;
    border: none; cursor: pointer;}


@media (max-width: 768px) {
    .nav-right {
        display: none;
    }
}

.profile {
    color: #2563eb;
    cursor: pointer;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 8px;
    transition: background 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150;
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    z-index: 11;
}

.close-mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11
}