.aurora-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.aurora-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  background-color: transparent !important;
}
